<% layout('layouts/boilerplate') -%>
<!-- Header Section -->
<section id="header">
	<header class="jumbotron header">
		<div class="header__text-box">
			<h1 class="display-4 heading-primary">Bohlokong Primary School</h1>
			<p class="lead heading-primary--sub">Thuto Ke Lehakwe.</p>
			<hr class="my-4 heading-primary--line">
			<a class="btn" href="/contact" role="button">Contact Us</a>
		</div>
	</header>
</section>

<!-- Covid Awareness Section -->
<section id="covid-awareness">
	<div class="container covid">
		<h2 class="heading-secondary text-center"><span class="color-red">Covid-19</span> Awareness</h2>

		<div class="covid__container row">
			<div class="covid__img-box col-md-6">
				<img
					src="/images/illustrations/Kids using hand sanitizer at school-bro.svg"
					class="covid__img"
					alt="Children sanitizing at school illustration"
					title="Children sanitizing at school illustration"
					loading="lazy"
				/>
				<a href="https://storyset.com/job" class="sr-only">Illustration by Freepik Storyset</a>
			</div>

			<div class="covid__text-box col-md-6">
				<p>Our school follows all the covid-19 safety rules 
					and we all work together to ensure the safety 
					of all people that enter the school premises.</p>

				<p>Any person from school staff to school 
					children are all screened and sanitized 
					at the gate upon entering the premises.</p>

				<p>Children are advised to keep social distancing 
					and wash their hands every now and then. 
					The school does everything they can to keep everyone safe.</p>

				<p>Parents should ensure that their children 
					come to school wearing musks and anyone 
					visiting the school adhears to the pandemic regulations.</p>
			</div>
		</div>
		<p class="covid__more-info">For more info on Covid-19 in South Africa visit <a href="https://sacoronavirus.co.za/" target="_blank" rel="noopener noreferrer" class="site-link">sacoronavirus.co.za</a></p>
	</div>
</section>

<!-- School Qualities -->
<section id="school-qualities">
	<div class="container qualities">
		<h2 class="heading-secondary">School <span class="color-green">Qualities</span></h2>

		<div class="qualities__container--one row">
			<div class="qualities__img-box col-md-5 order-md-2">
				<img
					src="/images/illustrations/Teaching-bro.svg"
					class="qualities__img"
					alt="Teacher and leaner illustration"
					title="Teacher and leaner illustration"
					loading="lazy"
				/>
				<a href="https://storyset.com/job" class="sr-only">Illustration by Freepik Storyset</a>
			</div>

			<div class="qualities__text-box col-md-7 order-md-1">
				<h3 class="heading-tertiary">Vision</h3>
				
				<p class="qualities__text">To empower our learners to acquire, demonstrate, articulate, and value knowledge and skills that will support them, 
          as life long learners, to participate in and contribute to the global world and practice of core values of the school
          which include: Respect, tolerance, and excellence.</p>
			</div>
		</div>

		<div class="qualities__container--two row">
			<div class="qualities__img-box col-md-5">
				<img
					src="/images/illustrations/kids wearing masks at school-bro.svg"
					class="qualities__img"
					alt="Teacher and leaner illustration"
					title="Teacher and leaner illustration"
					loading="lazy"
				/>
				<a href="https://storyset.com/coronavirus" class="sr-only">Illustration by Freepik Storyset</a>
			</div>
			<div class="qualities__text-box col-md-7">
				<h3 class="heading-tertiary text-right">Tjhebelo-Pele</h3>
				
				<p class="qualities__text">Ho thusa barutwana ba be le bokgoni, tsebo, mahlale a tlang ho ba thusa maphelong a bona,
					le ho nka karolo ka ho phethahala ntshetso-peleng ya lefatshe, le ka mekgwa e metle e akaretseng
					tlhompho, mamellano le ho sebetsa ka thata.
				</p>
				
			</div>
		</div>
	</div>
</section>

<!-- Latest News -->
<section id="latest-news">
	<div class="container news">
		<h2 class="heading-secondary">Latest <span class="color-blue">News</span></h2>
		
		<!-- Main Blog Post -->
		<div class="news__container row">
			<div class="news__blog-container col-md-5">
				<div class="news__blog-post">
					<% posts.forEach(function(post){ %>
						<% if (post.mainPost) { %>
							<div class="card news__blog-card">
								<% post.images.forEach(function(image){ %>
									<img 
										src="<%= image.url %>" 
										class="card-img-top news__blog-img" 
										alt="<%= post.title %> image" 
										title="<%= post.title %> image" 
										loading="lazy"
									/>
								<% }) %>
								<div class="card-body news__blog-body">
									<h3 class="card-title heading-tertiary"><%= post.title %></h3>
									<p class="card-text"><small class="text-muted"><%= post.updatedAt.toDateString() %></small></p>
									<p class="card-text news__blog-text"><%- post.description.substring(0, 100) %>[...]</p>
									<a href="/posts/<%= post.id %>" class="btn__secondary">Read More..</a>
								</div>
							</div>
						<% } %>
					<% }); %>
				</div>
			</div>

			<!-- Media Blog Card 1 -->
			<div class="news__blog-container col-md-7">
				<% posts.forEach(function(post){ %>
					<% if (post.featuredPost) { %>
						<div class="card news__blog-media news__blog-media--one">
							<div class="row no-gutters">
								<div class="col-md-6">
									<% post.images.forEach(function(image){ %>
										<img 
											src="<%= image.url %>" 
											class="card-img" 
											alt="Blog post 2 image" 
											title="Blog post 2 image"
											loading="lazy"
										/>
									<% }) %>
								</div>
								<div class="col-md-6">
									<div class="card-body">
										<h3 class="card-title heading-tertiary"><%= post.title %></h3>
										<p class="card-text"><small class="text-muted"><%= post.updatedAt.toDateString() %></small></p>
										<p class="card-text"><%- post.description.substring(0, 100) %>[...]</p>
										<a href="/posts/<%= post.id %>" class="btn__secondary">Read More..</a>
									</div>
								</div>
							</div>
						</div>
					<% } %>
				<% }); %>
			</div>
		</div>
	</div>
</section>

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>
