<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light"><%= post.title %></h1>
      <p class="lead heading-primary--sub">Read the whole news article.</p>
    </div>
  </div>
</div>

<section id="signin">
	<div class="container contact">
		<div class="row">
			<div class="col-md-8 offset-2">
				<div class="card mb-3">
					<% post.images.forEach(function(image){ %>
						<img src="<%= image.url %>" class="card-img-top" alt="...">
					<% }) %>
					<div class="card-body">
						<h2 class="card-title heading-tertiary"><%= post.title %></h2>
						<p class="card-text"><small class="text-muted"><%= post.updatedAt.toDateString() %></small></p>
						<p class="card-text"><%= post.description %></p>
					</div>
				</div>

				<% if (currentUser && post.author.equals(currentUser._id)) { %>
					<div>
						<a href="/posts/<%= post.id %>/edit">
							<button>Edit post</button>
						</a>
					</div>

					<div>
						<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
							<input type="submit" value="Delete">
						</form>
					</div>
				<% } %>
			</div>
		</div>	
	</div>
</section>
